/*MEDIA QOUERIS stright up css no sass watch */

/*mobile view*/
@media only screen and (max-width: 600px) {
  .overlay{
    width: 50%;
  	left: 50%;
  }
  }


/*the h2 landing page title shading
*/
.header h2{
-webkit-text-shadow: 0px 0px 7px #1C5069;
-moz-text-shadow: 0px 0px 7px #1C5069;
text-shadow: 0px 0px 7px #1C5069;
}

@media only screen and (max-width: 600px){
  .header h2{
    padding-top: 66px;
    font-size: 10px;
  }
}


@media (max-width: 600px) {

  .projects-container{
    padding: 30px;
  }
  .projects {
    grid-row-gap: 30px;
  }
  .album {
    grid-template-columns: 1fr;
    align-items: initial;
  }
}
