/*MEDIA QOUERIS stright up css no sass watch */

/*mobile view*/
@media only screen and (max-width: 600px) {
  .overlay{
    width: 50%;
  	left: 50%;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;

  }
  }
}
