// navigation stylesheet
nav
	display: flex
	align-items: center
	justify-content: center
	img
		width: 90px

ul
	margin: 0
	padding: 0
	text-decoration: none
	list-style: none

li
	padding: 0
	margin: 0


.landing-page-head
	transition-property: all .2s linear 0s
	-moz-transition: all .2s linear 0s
	-webkit-transition: all .2s linear 0s
	-o-transition: all .2s linear 0s
	height: 100px
	padding-top: 20px
	background: rgba(0,0,0,0.0)
	a
		img
			width: 200px

nav
	transition-property: all .2s linear 0s
	-moz-transition: all .2s linear 0s
	-webkit-transition: all .2s linear 0s
	-o-transition: all .2s linear 0s
	width: 100%
	background: white
	height: 66px
	padding-top: 5px
	ul
		opacity: 0
		visibility: hidden
		li
			display: grid
		a
			transition-property: all .2s linear 0s
			-moz-transition: all .2s linear 0s
			-webkit-transition: all .2s linear 0s
			-o-transition: all .2s linear 0s
			font-size: 16px


// .logo2
// 	img
// 		width: 150px

.button
	display: inline
	position: absolute
	right: 3%
	z-index: 999
	font-size: 30px
	a
		text-decoration: none

.btn-open
	&:after
		color: $light-blue
		content: "\f0c9"
		font-family: "FontAwesome"
		transition-property: all .2s linear 0s
		-moz-transition: all .2s linear 0s
		-webkit-transition: all .2s linear 0s
		-o-transition: all .2s linear 0s


	&:hover
		&:after
			color: $dark-blue

//the x btn
.btn-close
	&:after
		color: $dark-blue
		content: "\f00d"
		font-family: "FontAwesome"
		transition-property: all .2s linear 0s
		-moz-transition: all .2s linear 0s
		-webkit-transition: all .2s linear 0s
		-o-transition: all .2s linear 0s
	&:hover
		&:after
			color: $red
.overlay
	display: none
	position: fixed
	top: 0
	height: 100%
	width: 30%
	background: $dark-blue
	overflow: auto
	z-index: 99
	left: 70%

.wrap
	color: $dark-blue

	ul
		&.wrap-nav
			a
				color: $white
				text-decoration: none
				transition-property: all .2s linear 0s
				-moz-transition: all .2s linear 0s
				-webkit-transition: all .2s linear 0s
				-o-transition: all .2s linear 0s
				&:hover
					color: $light-blue

.wrap-nav
	margin-top: 100px
	display: grid
	justify-content: center
	align-content: center
	grid-template-columns: 8px auto 8px
	align-content: space-around
	justify-content: center
	justify-items: center
	grid-gap: 15px
	font-size: 1.3em
	li
		grid-column-start: 2
		grid-column-end: 3
		a
			img
				&:hover
					opacity: 0.5
					transition-property: all .2s linear 0s
					-moz-transition: all .2s linear 0s
					-webkit-transition: all .2s linear 0s
					-o-transition: all .2s linear 0s

	// .logo2
	// 	margin-top: 20px
	// 	margin-bottom: 30px
	// 	grid-column-start: 1
	// 	grid-column-end: 4

nav
	position: fixed
	z-index: 100

.icon
	transition-property: all .2s linear 0s
	-moz-transition: all .2s linear 0s
	-webkit-transition: all .2s linear 0s
	-o-transition: all .2s linear 0s
	width: 50px
	padding: 6px
