/* COLORS */
// Import your "plugins" styles here

// for example, to import a file called "_spinner.sass"...
//@import "spinner"
/*basics*/
body
	margin: 0
	padding: 0
	font-family: $font
	color: $dark-blue


h1
	display: none
